@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yon4p3');
  src:  url('fonts/icomoon.eot?yon4p3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yon4p3') format('truetype'),
    url('fonts/icomoon.woff?yon4p3') format('woff'),
    url('fonts/icomoon.svg?yon4p3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-upload:before {
  content: "\f093";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-trash:before {
  content: "\f1f8";
}
